.first-row {
    padding: 1.5em 2em 1em;
    line-height: 36px;
}

.price {
    font-size: 28px;
    color: rgba(33, 150, 243, 1);
}

@media (max-width: 575.5px) {
    .first-row {
        padding: 1.5em 1em 2.5em;
    }
    .price {
        font-size: 24px;
    }
}

@media (max-width: 455px) {
    .first-row {
        padding: 1.5em 1em 3em;
    }
    .price {
        font-size: 20px;
    }
}