.first-row {
    padding: 1.5em 1.5em 1em 2em;
    line-height: 36px;
}

.price {
    font-size: 28px;
    color: rgba(33, 150, 243, 1);
}

@media (max-width: 767.5px) {
    .first-row {
        padding: 1.5em 3em 1.5em 1.5em;
    }
    .price {
        font-size: 36px;
    }
}

@media (max-width: 575.5px) {
    .first-row {
        padding: 1.5em 1em 1em;
    }
}
