.nothing-found {
    height: 22em;
    color: black;
    background-color: white !important;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

@media (max-width: 767.5px) {
    .nothing-found {
        height: auto;
    }
}